<!DOCTYPE html>
<html>
<head>
    <title>Unauthorised &bull; Logbot</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/hero.css">
    <script src="https://use.fontawesome.com/337fb33ac6.js"></script>
    <link rel="stylesheet" href="/css/discord/icon-discord.css">
    <link rel="shortcut icon" href="/img/logo.png">

    <meta name="author" content="XeliteXirish">
    <meta name="description" content="Open-Source dev team">

    <meta name="apple-mobile-web-app-title" content="Scammer Numbers">
    <meta name="application-name" content="Scammer Numbers">
</head>

<body>

<section id="hero_section" class="hero is-info is-medium header-image">
    <div class="hero-head">
        <nav class="nav has-shadow">
            <div class="container">

                <div class="nav-left">
                    <%- include partials/title.ejs %>
                </div>

                <span class="nav-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                </span>

                <div class="nav-center">
                    <%- include partials/username.ejs %>
                </div>

                <div class="nav-right nav-menu">
                    <a class="nav-item" href="/">
                        Home
                    </a>
                    <a class="nav-item" href="/list">
                        Numbers List
                    </a>
                    <a class="nav-item" href="/submit">
                        Submit
                    </a>
                    <p class="nav-item control has-addons">
                        <a class="button is-info is-outlines" href="/add">
                            <span class="icon is-small">
                                <i class="fa fa-plus"></i>
                            </span>
                            <span>Add Bot</span>
                        </a>

                        <%- include partials/login.ejs %>
                    </p>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                <b>SSL Scammer Numbers</b>
            </h1>
            <h2 class="subtitle is-4">
                <span>We're an awesome discord server with the aim to stop scammers!</span>
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered box">
        <div class="header">
            <h1 class="title">
                <strong><i>Unauthorised &bull; Not logged in!</i></strong>
            </h1><br>
            <h2 class="subtitle">
                You must be logged in to access this!<br>You can login by clicking on the following button:
                <br><br><br>
                <a class="button is-primary" href="/login">
  					<span class="icon">
    					<i class="fa fa-sign-in" aria-hidden="true"></i>
  					</span>
                    <span>Sign in to BetterSSLNumbers</span>
                </a>
            </h2>
        </div>
    </div>
</section>

<%- include partials/footer.ejs %>
</body>