<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home &bull; Scammer Numbers</title>

    <meta name="author" content="Shaun O'Neill">
    <meta name="description" content="Find every scammer number you'll ever need!">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Scammer Numbers">
    <meta property="og:image" content="/img/logo.png">
    <meta property="og:description" content="Find every scammer number you'll ever need!">

    <meta name="twitter:title" content="Scanner Numbers">
    <meta name="twitter:image" content="/img/logo.png">
    <meta name="twitter:description" content="Find every scammer number you'll ever need!">

    <link rel="shortcut icon" type="image/png" href="/img/logo.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?cp0z2c">
    <link rel="stylesheet" href="/css/font-mfizz.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.13/css/intlTelInput.css">
    <link rel="stylesheet" href="/css/hero.css">

    <script src="js/jquery-2.2.0.min.js"></script>
    <script src="js/bulma.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.13/js/intlTelInput.min.js"></script>
</head>

<body>

<section class="hero is-large is-dark header-image">
    <div class="hero-head">
        <header class="nav">
            <div class="container">
                <div class="nav-left">
                    <%- include partials/title.ejs %>
                </div>

                <div class="nav-center">
                    <%- include partials/username.ejs %>
                </div>

                <span class="nav-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                </span>
                <div class="nav-right nav-menu">
                    <a class="nav-item is-active" href="/">
                        Home
                    </a>
                    <a class="nav-item" href="/list">
                        Numbers List
                    </a>
                    <a class="nav-item" href="/submit">
                        Submit
                    </a>
                    <p class="nav-item control has-addons">
                        <a class="button is-info is-outlines" href="/add">
                            <span class="icon is-small">
                                <i class="fa fa-plus"></i>
                            </span>
                            <span>Add Bot</span>
                        </a>

                        <%- include partials/login.ejs %>
                    </p>
                </div>
            </div>
        </header>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                <b>SSL Scammer Numbers</b>
            </h1>
            <h2 class="subtitle is-4">
                <span>We're an awesome discord server with the aim to stop scammers!</span>
            </h2>
        </div>
    </div>
</section>

<section class="hero is-info is-small is-bold">
    <div class="hero-body">
        <div class="container">
            <nav class="columns">
                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </span>
                    <p class="title is-5">Keep track of Scammer Numbers!</p>
                </div>

                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-cog"></i>
                    </span>
                    <p class="title is-5">Easy to configure everything!</p>
                </div>

                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-sort-alpha-asc"></i>
                    </span>
                    <p class="title is-5">Makes sure a number isn't legit tech support!</p>
                </div>
            </nav>
        </div>
    </div>
</section>

<section class="hero is-medium is-dark is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-9">
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <p class="title is-2">•&nbsp;Add a super fun aspect to your server!</p>
                            <p class="subtitle is-4">Easily create a space for your users to easily find </p>
                        </div>
                    </div>
                    <br><br>
                    <p>Basically il do this bit later!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-small is-danger is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h2 class="title is-2">Manage to find a bug somewhere?</h2>
            <h3 class="subtitle is-4">Create an issue on the <a href="https://github.com/XeliteXirish/BetterSSLNumbers"><strong>Github</strong></a>
                or submit a
                <strong>pull-request</strong>!</h3>
        </div>
    </div>
    <div class="hero-foot">
        <div class="has-text-centered">
            <p>If the repo appears to be private, just send me a message on discord!</p>
        </div>
    </div>
</section>

<%- include partials/footer.ejs %>

</body>

</html>