<footer class="footer">
    <div class="has-text-centered">
        <p><strong>BetterSSLNumbers</strong> created by <a
                    href="https://www.shaunoneill.com"><strong>XeliteXirish!</strong></a> Running smoothly using
            <strong>NodeJS</strong> and <strong>Discord.JS</strong>!</p>
        <br>
        <p>
            <a class="icon is-medium" href="https://discord.gg/VeHauH5"><i class="fa icon-discord" style="padding-top: 4px;"></i></a>
            <a class="icon is-medium" href="https://www.github.com/XeliteXirish"><i class="fa fa-github"></i></a>
            <a class="icon is-medium" href="https://status.shaunoneill.com"><i class="fa fa-check"></i></a>
        </p>
    </div>
</footer>