<a class="nav-item is-brand is-active title is-5" href="/">
    <img class=""
         src="https://cdn.discordapp.com/attachments/245980131997384704/294144477407215616/with_london_square.png"
         style="border-radius: 50%; display: block; height: auto; width: ;">
    &nbsp;&nbsp;<strong>SSL Scammer Numbers</strong>
</a>