<a class="nav-item is-brand is-active title is-5" href="/">
    <img class=""
         src="/img/logo.png"
         style="border-radius: 50%; display: block; height: auto; width: ;">
    &nbsp;&nbsp;<strong>SSL Scammer Numbers</strong>
</a>